{% extends "base.html" %}
{% load widget_tweaks %}

{% block page_title %}Contact{% endblock page_title %}

{% block content %}

<form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-group  {{ form.name.errors|yesno:"has-error," }}">
        <label for="inputDate" class="col-lg-2 control-label">Name</label>

        <div class="col-lg-4">
            {% render_field form.name class="form-control" %}
            <span class="help-block">{{ form.name.errors }}</span>
        </div>

    </div>
    <div class="form-group {{ form.address.errors|yesno:"has-error," }}">
        <label for="inputDays" class="col-lg-2 control-label">Address</label>

        <div class="col-lg-4">
            {% render_field form.address class="form-control" %}
            <span class="help-block">{{ form.address.errors }}</span>
        </div>
    </div>
    <div class="form-group {{ form.email.errors|yesno:"has-error," }}">
        <label for="inputDays" class="col-lg-2 control-label">Email</label>

        <div class="col-lg-4">
            {% render_field form.email class="form-control" %}
            <span class="help-block">{{ form.email.errors }}</span>
        </div>
    </div>
    <div class="form-group {{ form.telephone.errors|yesno:"has-error," }}">
        <label for="inputDays" class="col-lg-2 control-label">Telephone</label>

        <div class="col-lg-4">
            {% render_field form.telephone class="form-control" %}
            <span class="help-block">{{ form.telephone.errors }}</span>
        </div>
    </div>
    <div class="form-group {{ form.message.errors|yesno:"has-error," }}">
        <label for="inputDays" class="col-lg-2 control-label">Message</label>

        <div class="col-lg-4">
            {% render_field form.message class="form-control" %}
            <span class="help-block">{{ form.message.errors }}</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

{% endblock content %}
