{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <h1>Berita Terbaru</h1>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <form action="" >
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Cari Berita"/>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <ul class="media-list">
                {% load endless %}

                {% paginate 4 media %}
                {% for medium in media %}
                <li class="media">
                    <a class="pull-left" href="{% url 'medium-detail' medium.slug %}">
                        <img class="media-object" src="http://lorempixel.com/64/64" alt="...">
                    </a>

                    <div class="media-body">
                        <a href="{% url 'medium-detail' medium.slug %}"><h3 class="media-heading">{{ medium.title }}</h3></a>

                        {{ medium.content|safe }}

                        <span class="margin-right-5">Anggota DPR Terkait:</span>
                        {% for legislature in medium.legislatures.all %}
                        <span class="label label-primary margin-right-5">{{ legislature.name }}</span>
                        {% endfor %}

                    </div>
                </li>
                {% endfor %}
            </ul>
            {% show_pages %}
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><h3>Anggota DPR</h3></li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="media-object pull-left" src="http://lorempixel.com/64/64" alt="...">
                        </div>
                        <div class="col-sm-9">
                            <a href="{% url 'legislature-detail' %}"><h4>Ahmad Dhani</h4></a>

                            <p><span>Fraksi: </span>PDIK</p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="media-object pull-left" src="http://lorempixel.com/64/64" alt="...">
                        </div>
                        <div class="col-sm-9">
                            <a href="{% url 'legislature-detail' %}"><h4>Cinta Laura</h4></a>

                            <p><span>Fraksi: </span>PDIK</p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="media-object pull-left" src="http://lorempixel.com/64/64" alt="...">
                        </div>
                        <div class="col-sm-9">
                            <a href="{% url 'legislature-detail' %}"><h4>Dian Sastro</h4></a>

                            <p><span>Fraksi: </span>PDIK</p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="media-object pull-left" src="http://lorempixel.com/64/64" alt="...">
                        </div>
                        <div class="col-sm-9">
                            <a href="{% url 'legislature-detail' %}"><h4>Bima</h4></a>

                            <p><span>Fraksi: </span>PDIK</p>

                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Pembahasan RUU</h3>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                </li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>

        </div>
    </div>
{% endblock %}