{% extends 'base.html' %}

{% block page_title %}
    Berita Terbaru
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://lorempixel.com/64/64" alt="...">
                    </a>

                    <div class="media-body">
                        <a href=""><h3 class="media-heading">Wawancara Anggota DPR Mendapatkan Hadiah Mobil</h3></a>

                        <p>Tim IT UPI ikut turun tangan melakukan penelusuran terhadap akun twitter @kemalsept. Langkah
                            itu diambil untuk meluruskan kicauan penghinaan terhadap Kota Bandung dan Wali Kota Ridwan
                            Kamil yang dilakukan akun tersebut yang diduga mahasiswa UPI.</p>
                        <span>Anggota DRP Terkait:</span>
                        <span class="label label-primary">Jero Wacik</span>
                        <span class="label label-primary">Marzuki Ali</span>
                        <span class="label label-primary">Wayne Ronney</span>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://lorempixel.com/64/64" alt="...">
                    </a>

                    <div class="media-body">
                        <a href=""><h3 class="media-heading">Media heading</h3></a>

                        <p>Tim IT UPI ikut turun tangan melakukan penelusuran terhadap akun twitter @kemalsept. Langkah
                            itu diambil untuk meluruskan kicauan penghinaan terhadap Kota Bandung dan Wali Kota Ridwan
                            Kamil yang dilakukan akun tersebut yang diduga mahasiswa UPI.</p>
                        <span>Anggota DRP Terkait:</span>
                        <span class="label label-primary">Jero Wacik</span>
                        <span class="label label-primary">Marzuki Ali</span>
                        <span class="label label-primary">Wayne Ronney</span>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://lorempixel.com/64/64" alt="...">
                    </a>

                    <div class="media-body">
                        <a href=""><h3 class="media-heading">Media heading</h3></a>

                        <p>Tim IT UPI ikut turun tangan melakukan penelusuran terhadap akun twitter @kemalsept. Langkah
                            itu diambil untuk meluruskan kicauan penghinaan terhadap Kota Bandung dan Wali Kota Ridwan
                            Kamil yang dilakukan akun tersebut yang diduga mahasiswa UPI.</p>
                        <span>Anggota DRP Terkait:</span>
                        <span class="label label-primary">Jero Wacik</span>
                        <span class="label label-primary">Marzuki Ali</span>
                        <span class="label label-primary">Wayne Ronney</span>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://lorempixel.com/64/64" alt="...">
                    </a>

                    <div class="media-body">
                        <a href=""><h3 class="media-heading">Media heading</h3></a>

                        <p>Tim IT UPI ikut turun tangan melakukan penelusuran terhadap akun twitter @kemalsept. Langkah
                            itu diambil untuk meluruskan kicauan penghinaan terhadap Kota Bandung dan Wali Kota Ridwan
                            Kamil yang dilakukan akun tersebut yang diduga mahasiswa UPI.</p>
                        <span>Anggota DRP Terkait:</span>
                        <span class="label label-primary">Jero Wacik</span>
                        <span class="label label-primary">Marzuki Ali</span>
                        <span class="label label-primary">Wayne Ronney</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><h3>Anggota DPR</h3></li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="media-object pull-left" src="http://lorempixel.com/64/64" alt="...">
                        </div>
                        <div class="col-sm-9">
                            <a href="{% url 'legislature-detail' %}"><h4>RUU MD5</h4></a>
                            <p><span>Fraksi: </span>PDIK</p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="media-object pull-left" src="http://lorempixel.com/64/64" alt="...">
                        </div>
                        <div class="col-sm-9">
                            <a href="{% url 'legislature-detail' %}"><h4>Cinta Laura</h4></a>
                            <p><span>Fraksi: </span>PDIK</p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="media-object pull-left" src="http://lorempixel.com/64/64" alt="...">
                        </div>
                        <div class="col-sm-9">
                            <a href="{% url 'legislature-detail' %}"><h4>Cinta Laura</h4></a>
                            <p><span>Fraksi: </span>PDIK</p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="media-object pull-left" src="http://lorempixel.com/64/64" alt="...">
                        </div>
                        <div class="col-sm-9">
                            <a href="{% url 'legislature-detail' %}"><h4>Cinta Laura</h4></a>
                            <p><span>Fraksi: </span>PDIK</p>

                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Pembahasan RUU</h3>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                </li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>

        </div>
    </div>
{% endblock %}