{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}
    Daftar Anggota DPR
{% endblock %}

{% block content %}
    <div class="row">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="..." alt="...">
            </a>

            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                ...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
    </div>

{% endblock %}

{% block extra_js %}
{% endblock %}