{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
    <h1>Daftar Anggota DPR</h1>
    <div class="row">
        <span></span>
    </div>
    <div class="row">
        {% for legislature in legislatures %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'legislature-detail' legislature.slug %}"><img data-src="holder.js/400x200/#92d8a6:#74ac84" alt="..."
                                                                  class="img-responsive">
                    </a>

                    <div class="caption">
                        <a href="{% url 'legislature-detail' legislature.slug %}"><h3>{{ legislature.name }}</h3></a>

                        <ul class="list-group">
                            <li class="list-group-item">Fraksi: {{ legislature.fraction }}</li>
                            <li class="list-group-item">Dapil: {{ legislaturearea }}</li>
                            <li class="list-group-item">Twitter: {{ legislature.twitter }}</li>
                            <li class="list-group-item">Facebook: {{ legislature.facebook }}</li>
                        </ul>

                        {#                    <p>#}
                        {#                        <a href="#" class="btn btn-primary" role="button">Button</a>#}
                        {#                        <a href="#" class="btn btn-default" role="button">Button</a>#}
                        {#                    </p>#}
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:"3" %}
                </div>
                <br/>
                <div class="row">
            {% endif %}
        {% endfor %}

        </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/holder.js' %}"></script>
{% endblock %}